@import 'tailwindcss/tailwind.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* Chrome/Safari/Webkit */
}

.pdf-opacity {
  opacity: 0.09;
  /* Điều chỉnh giá trị opacity tùy theo độ mờ bạn muốn */
}
.aspect-square {
  padding-bottom: 100%;
  position: relative;
}
.dot {
  display: inline-block;
  transition: transform 0.5s; 
  transform-origin: left;
}

.dot:hover {
  transform: scaleX(5);
}